<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tastyplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AndroidDevelopers" >
        <activity
            android:name="com.tastyplanner.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tastyplanner.Activities.RecipeActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".main.MainActivity" />
        </activity>
        <activity android:name="com.tastyplanner.Activities.FindRecipeActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".main.MainActivity" />
        </activity>
        <activity android:name="com.tastyplanner.Activities.NewRecipeActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".main.MainActivity" />
        </activity>
    </application>

</manifest>